<%- includes('./modules/header.ejs') %>

    <body>
        <%- includes('./modules/navigation.ejs') %>
            <section class="server-info-section">
                <div class="info-header">
                    <h1>
                        <%= info.servername %>
                    </h1>
                    <div class="info-metrics">
                        <p><small>V <%= info.version %></small></p>
                        <p><small>fps <%= metrics.serverfps %></small></p>
                        <p><small>uptime <%= metrics.uptime %></small></p>
                    </div>
                </div>
                <div>
                    <p>
                        <%= info.description %>
                    </p>
                </div>
            </section>
            <main>

            </main>
            <%- include('./modules/footer.ejs') %>
    </body>